* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* FULL PAGE WITH IMAGE */
.bg-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* BACKGROUND IMAGE */
.bg-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* LOGIN CARD ON IMAGE */
.login-card {
  position: absolute;
  top: 50%;
  right: 80px;              /* move card to right */
  transform: translateY(-50%);
  background: white;
  padding: 30px;
  width: 360px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* FORM ELEMENTS */
.login-card h2 {
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-card button:hover {
  background: #1976d2;
}

.login-card a {
  color: #2196f3;
  text-decoration: none;
}
.login-card a:hover {
  text-decoration: underline;
}



/* for the admin dashboard */
/* ADMIN PAGE */
.admin-wrapper {
  min-height: 100vh;
  background: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-card {
  background: white;
  padding: 30px;
  width: 500px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.admin-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.admin-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.admin-card button {
  width: 100%;
  padding: 10px;
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-card button:hover {
  background: #1976d2;
}

.admin-links {
  text-align: center;
  margin-top: 15px;
}

/* SEAT SELECTION */
.seat-container {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 12px;
  justify-content: center;
  margin: 20px 0;
}

.seat {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  border: 2px solid #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.seat.available {
  background: #e3f2fd;
}

.seat.selected {
  background: #2196f3;
  color: white;
}

.seat.booked {
  background: #ccc;
  border-color: #999;
  cursor: not-allowed;
}
